*.o
*.rdb
*.log
redis-cli
redis-server
redis-benchmark
redis-check-dump
redis-check-aof
doc-tools
mkrelease.sh
release
misc/*
src/release.h
appendonly.aof
SHORT_TERM_TODO
release.h
src/transfer.sh
src/configs
src/redis-server.dSYM
*.user
*.exe
*.sdf
*.suo
deps/pthreads-win32/
msvs/Debug/
msvs/Release/
msvs/RedisBenchmark/Debug/
msvs/RedisBenchmark/Release/
msvs/RedisCheckAof/Debug/
msvs/RedisCheckAof/Release/
msvs/RedisCheckDump/Debug/
msvs/RedisCheckDump/Release/
msvs/RedisCli/Debug/
msvs/RedisCli/Release/
msvs/hiredis/Debug/
msvs/hiredis/Release/
msvs/x64/
msvs/RedisBenchmark/x64/
msvs/RedisCheckAof/x64/
msvs/RedisCheckDump/x64/
msvs/RedisCli/x64/
msvs/hiredis/x64/
msvs/ipch
msvs/RedisServer.opensdf
!msvs/RedisWaInst/bin/*
!msvs/RedisWaInst/bin/Inst4WA/*
!msvs/RedisWaInst/bin/RedisPkgBin/*
msvs/RedisWAInst/src/RedisDeployCmdlets/bin/
msvs/RedisWAInst/src/RedisDeployCmdlets/obj/
msvs/RedisWAInst/src/RedisInstBin/
msvs/RedisWAInst/src/RedisInstWA/app.config
msvs/RedisWAInst/src/RedisInstWA/bin/
msvs/RedisWAInst/src/RedisInstWA/obj/
msvs/RedisWAInst/src/RedisServer/bin/
msvs/RedisWAInst/src/RedisServer/obj/

